workflow-telegram-chatbot.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "cityName": "={{ $('Parsing | JavaScript').item.json.queue }}"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        512,
        -128
      ],
      "id": "4e818af9-30d2-4f3b-ad7d-13375760789f",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "qQpc0y1M9b1MZDNU",
          "name": "OPENWEATHER_API_KEY"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        48
      ],
      "id": "b486ad56-8af6-4a3f-bd5b-0d6f823bfe41",
      "name": "Mensagem Recebida | Telegram",
      "webhookId": "a3ab6bdb-69d0-4a32-b093-e87993693203",
      "credentials": {
        "telegramApi": {
          "id": "PQaLxLjBau69U4zU",
          "name": "TELEGRAM_API_KEY"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.last().json.message.text;\n\nreturn (function cleanText(str) {\n    const clean = (str || \"\")\n        .normalize(\"NFD\")\n        .replace(/[\\u0300-\\u036f]/g, \"\")\n        .replace(/[<>{}[\\]\\\\^%|?]/g, \"\")\n        .replace(/\\s+/g, \" \") \n        .toLowerCase()\n        .trim(); \n\n    const isValid = clean.length > 0;\n\n    return {\n      queue: isValid ? `${clean}, br` : null,\n      isValid: isValid\n    };\n})(input);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        48
      ],
      "id": "8af213ac-f3de-4a39-b341-aadcbe87b508",
      "name": "Parsing | JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df6ece3c-6f88-4c6b-8bcd-a1a7fc6a6d8d",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        48
      ],
      "id": "9e89192a-6ba8-4882-9080-d9a7326c7f2d",
      "name": "Texto válido? | If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "730c114c-91be-4fa3-91c8-831770949407",
              "leftValue": "={{ $json.error }}",
              "rightValue": 200,
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        -128
      ],
      "id": "c94c4c11-deb7-48c1-b25a-9e7cdf2fc4d5",
      "name": "Retorno válido? | If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensagem Recebida | Telegram').item.json.message.chat.id }}",
        "text": "=🌤️ A temperatura em * {{ $json.name }} * é de * {{ $json.main.temp.round() }}°C*.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        -144
      ],
      "id": "4d59347a-424f-4219-aace-1f0ebaeac35f",
      "name": "Mensagem de Sucesso | Telegram",
      "webhookId": "ea90f7b7-6134-4d1f-b35e-a118076b32c9",
      "credentials": {
        "telegramApi": {
          "id": "PQaLxLjBau69U4zU",
          "name": "TELEGRAM_API_KEY"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensagem Recebida | Telegram').item.json.message.chat.id }}",
        "text": "=❌ Cidade não encontrada\\. Use o formato *Cidade,UF \\(ex\\.: São Paulo,SP\\)*\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        64
      ],
      "id": "53192ac9-5edc-42cb-87cd-4465eb1c1783",
      "name": "Mensagem de Erro | Telegram",
      "webhookId": "b09c15d6-5746-4a5d-a9d4-d60ad8854636",
      "credentials": {
        "telegramApi": {
          "id": "PQaLxLjBau69U4zU",
          "name": "TELEGRAM_API_KEY"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Retorno válido? | If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Recebida | Telegram": {
      "main": [
        [
          {
            "node": "Parsing | JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsing | JavaScript": {
      "main": [
        [
          {
            "node": "Texto válido? | If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto válido? | If": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem de Erro | Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorno válido? | If": {
      "main": [
        [
          {
            "node": "Mensagem de Sucesso | Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem de Erro | Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "19507bb5-2733-4e45-a875-5a08c9983848",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5e2791ca4ba73883ade8a4e0a09031697f8d0fd611966695cc797b89827ae7b"
  },
  "id": "HGN6TQTnwUx6q36Q",
  "tags": []
}